body{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: 22rem;
  margin: 20px auto;
  padding: 20px;
}

.form-body{
  text-align: left;
  padding: 20px 10px;
}

.form-body > *{
  padding: 5px;
}

.footer{
  text-align: center;
}

.inputWrapper {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.title {
  text-align: center;
}
.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: 1px solid;
  font-weight: bold;
  color: red;
}
.linkBtn {
  cursor: pointer;
  text-decoration: underline;
  padding: 1rem;
}
.wrapper {
  padding: 1rem;
  background-color: #adb3b7;
}